#draw-svg-container{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ". draw .";

    >div{
      grid-area: draw;  
      display: flex;
      justify-content: center;
      align-items: center;
    }
}